.travel-guide-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 40%;
  background-color: #ffffff;
  margin: 10px;
}
.travel-image {
  height: 80%;
  width: 80%;
}
.name {
  font-size: 20px;
  font-family: 'Roboto';
  padding: 5px;
}
.description {
  font-size: 15px;
  font-family: 'Roboto';
  padding: 5px;
}
